{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ companies.count}}</h4>
          <a href="{% url "register_app:company" %}">
          <p>Registered Companies</p>
          </a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ users.count }}</h4>
          <a href="{% url "register_app:users" %}">
          <p>Registered Users</p>
          </a>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ projects.count }}</h4>
          <a href="{% url "project_management_app:projects" %}">
          <p>Projects</p>
        </a>
        </div>
      </div>
    </div>
  
    <!--/.col-->

    <div class="col-sm-12 col-lg-6">
      <div class="card text-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ tasks.count }}</h4>
          <a href="{% url "project_management_app:tasks" %}">
          <p>Tasks</p>
        </a>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
</div>

{% endblock %}