{% extends 'base.html' %}
{% load static %} 

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb%}

{% block content %}


<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;">
      <div class="animated fadeIn">
          <div class="row bg-white py-0" >
              <div class="col-12">
                  <div class="card">
                      <div class="card-body text-center">
                          <div class="jumbotron bg-white">
                            <h1>Welcome to the Project Management System</h1>
                              <hr class="my-4">
                              <div class="row">
                                  <div class="col-6">
                                    <img src="{% static 'img/officeimage.jpg' %}" style="height:220px">
                                  </div>
                                  <div class="col-sm-12 col-lg-6 text-center my-5"> 
                                    <p>Register your company and start managing your projects</p>
                                    <p class="lead">
                                      <a class="btn btn-primary btn-lg" href="{% url 'register_app:new-company' %}" role="button">Register your company</a>
                                    </p>
                                  </div>    
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>







{% comment %} <div class="container-fluid">
  <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
    <div class="row">
    <div class="col-12">
      <div class="card">
      <div class="card-body">
        <div class="jumbotron bg-white">
          <h1>Welcome to the Project Management System</h1>
          <hr class="my-4">
          <p>Register your company and start managing your projects</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'register_app:new-company' %}" role="button">Set up your company</a>
          </p>
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}